/* Estilo para o corpo da página */
body {
  background-color: #000;
  background-image: url(mine2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Estilo para todos os cabeçalhos (h1, h2, h3, h4) */
h1 {
  margin-top: 30px;
  text-align: center;
  color: #333;
}
h4 {
  text-align: center;
}
p {
  font-size: 20px;
  text-align: center;
  color: #333;
}
ol, li {
  margin: 10px;
}

/* Estilo para o formulário */
main {
 margin-top: 90px;
  margin-top: 10vh; /* Adicione esta linha para definir a margem inferior */
  max-width: 90%;
  height: auto;
  background-color: #fff;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para celulares */
@media (max-width: 600px) {
  main {
    
    margin-top: 90vh;

  }
}

/* Estilo para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  main {
    
    margin-top: 70vh;

  }

}

/* Estilo para computadores */
@media (min-width: 1025px) {
  
}
